<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <h1 class="text-uppercase login-text">Login</h1>
  <div class="form-group">
    <input type="email" id="email" placeholder="Email" name="email" [(ngModel)]="email" title="Insert email CMS" required>
  </div>
  <div class="form-group">
    <input type="password" id="password" placeholder="Password" name="password" title ="Insert password cms" [(ngModel)]="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
