.btn-add-posts {
  position: fixed;
  display: inline-block;
  font-size: 3rem;
  color: #6888E4;
  right: 20px;
  bottom: 10px;
  &:hover {
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    color: #96ACEC;
  }
}

::ng-deep ng2-smart-table * {
  font-size: .875rem !important;
}
