span.input-group-text{
  border-top-right-radius: .25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: .25rem;
  border-radius: .25rem 0 0 .25rem !important;
}
