<div class="screen-correct jumbotron m-0">
  <div class="container">
    <h1 class="h3 mb-4 font-weight-normal text-gray-800 text-capitalize">Create post</h1>
    <div class="row pt-5">
      <div class="col-12">
        <div class="card">
          <h2 class="card-header h5 text-uppercase font-weight-bold text-primary">Post content</h2>
          <div class="card-body">
            <ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
