/app/node_modules
/app/package-lock.json
/app/.eslint.json
package-lock.json
/app/api/data/cachePosts.json
/app/api/autentication/blacklist-local/blacklistToken.json
/app/uploads/*.JPG
/app/uploads/*.jpg
/app/uploads/*.jpeg
/app/uploads/*.JPEG
/app/uploads/*.png
/app/uploads/*.PNG
/app/uploads/*.gif
/app/uploads/*.GIF
/app/uploads/*.webp
/app/uploads/*.pdf
/app/uploads/*.docx
/app/uploads/*.doc
/app/uploads/*.xlt
/app/uploads/*.xls
/app/uploads/*.txt
/app/uploads/*.ppt
/app/uploads/*.pptx
/app/uploads/*.odt
/app/uploads/*.ods
/app/uploads/*.odp
/app/uploads/*.zip
/app/uploads/*.rar
app/.env
.idea
node_modules
