<div class="screen-correct jumbotron m-0">
  <div class="container">
    <h1 class="h3 mb-4 font-weight-normal text-gray-800 text-capitalize">Posts pubblicated</h1>
    <div class="row">
      <div class="col mr-2">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title h6 text-primary font-weight-lighter text-uppercase">Total</h2>
            <p class="card-text h5 mb-0 font-weight-bold text-gray-800">{{ postsData }}</p>
          </div>
        </div>
      </div>

      <div class="col mr-2">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title h6 text-success font-weight-lighter text-uppercase">Visible</h2>

            <p class="card-text h5 mb-0 font-weight-bold text-gray-800">{{ postsVisibleData  }}</p>
          </div>
        </div>
      </div>

      <div class="col mr-2">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title h6 text-info font-weight-lighter text-uppercase">Unvisible</h2>
            <p class="card-text h5 mb-0 font-weight-bold text-gray-800">{{ postsUnvisibleData }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-12">
        <div class="card">
          <h2 class="card-header h5 text-uppercase font-weight-bold text-primary">Posts written</h2>
          <div class="card-body">
            <ng2-smart-table [settings]="settings" [source]="posts"></ng2-smart-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="btn-add-posts">
  <a href="/createPosts" title="Add posts" target="_blank" class="btn-posts">
    <fa-icon icon="plus-circle"></fa-icon>
  </a>
</div>
