.leftbar {
  background-color: #6888E4;
  min-height: 100vh;
  position: fixed;
  left: 0;
  width: 14rem !important;
  top: 0;
  .active {
    color: #ffffff;
  }
  .logoHome {
    display: block;
    width: 14rem;
    width: 100%;
    height: 4.375rem;
    font-size: 1.375rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    z-index: 1;
    color: #ffffff;
    fa-icon {
      font-size: 1.75rem;
    }
    strong {
      margin-left: 1rem;
    }
  }
  .nav-item, .iconMarg {
    fa-icon {
      margin-right: .50rem;
      font-size: 1.125rem;
      color: rgba(255,255,255,.3);
    }
  }
  a {
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    display: block;
    width: 14rem;
    width: 100%;
    font-weight: 700;
    padding: 1rem;
    transition: .5s all ease;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -ms-transition: .5s all ease;
    -o-transition: .5s all ease;
    &:hover {
      fa-icon {
        color: #ffffff;
      }
      color: #ffffff;
    }
  }
  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .nav-group {
    strong {
      text-transform: uppercase;
      color: rgba(255,255,255,.4);
      padding: 0 1rem;
      font-weight: 800;
      font-size: .65rem;
    }
  }
  .leftbar-divider {
    border-top: 1px solid rgba(255,255,255,.15);
    margin: 0 1rem 1rem;
  }
  fa-icon {
    display: inline-block;
    width: 1.5rem;
  }
  * {
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -ms-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
  }
  [data-active=true] {
    a {
      color: #ffffff;
    }
    fa-icon {
      color: #ffffff;
    }
  }
}
