<nav class="leftbar">
  <div class="logoHome">
    <strong>myCMS.JS</strong>
  </div>
  <div class="dashlink">
    <a href="/admin-panel" title="Go to Dashboard">Dashboard</a>
  </div>
  <div class="nav-group">
    <strong>Cms</strong>
    <ul class="cms-nav nav-list">
      <li class="nav-item">
        <a href="#" title="Job Board">Job Board</a>
      </li>
      <li class="nav-item">
        <a href="#" title="Utilities">Utilities</a>
      </li>
    </ul>
  </div>
  <div class="nav-group">
    <strong>Addons</strong>
    <ul class="addons-nav nav-list">
      <li class="nav-item">
        <a href="#" title="Chart">Chart</a>
      </li>
      <li class="nav-item">
        <a href="#" title="Add">Add</a>
      </li>
    </ul>
  </div>
  <div class="nav-group">
    <strong>View</strong>
    <ul class="view-nav nav-list">
      <li class="nav-item">
        <a href="#" title="Dark mode">Dark mode</a>
      </li>
      <li class="nav-item">
        <a href="#" title="Close collapse">Close collapse</a>
      </li>
    </ul>
  </div>
</nav>
