<nav class="leftbar">
  <div class="logoHome d-flex align-items-center justify-content-center">
    <fa-icon icon="rocket"></fa-icon>
    <strong>myCMS.JS</strong>
  </div>
  <hr class="leftbar-divider" style="margin-bottom: 0 !important;">
  <div class="dashlink iconMarg">
    <a href="/admin-panel" title="Go to Dashboard"><fa-icon icon="tachometer-alt"></fa-icon>Dashboard</a>
  </div>
  <hr class="leftbar-divider">
  <div class="nav-group">
    <strong>Cms</strong>
    <ul class="cms-nav nav-list">
      <li class="nav-item icon">
        <a href="#" title="Job Board" (click)="invertCollpaseJobBoard($event)"><fa-icon icon="clipboard"></fa-icon>Job Board</a>
        <div id="jobCollapse" [ngbCollapse]="!isCollapseJobBoard">
          <div class="card">
            <div class="card-body">
              You can collapse this card by clicking Toggle
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a href="#" title="Utilities" (click)="invertCollapseUtilities($event)"><fa-icon icon="toolbox"></fa-icon>Utilities</a>
        <div id="collapseUtilities" [ngbCollapse]="!isCollpseUtilities">
          <div class="card">
            <div class="card-body">
              You can collapse this card by clicking Toggle
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <hr class="leftbar-divider">
  <div class="nav-group">
    <strong>Addons</strong>
    <ul class="addons-nav nav-list">
      <li class="nav-item">
        <a href="#" title="Chart" (click)="invertCollapseChart($event)"><fa-icon icon="chart-line"></fa-icon>Chart</a>
        <div id="collapseChart" [ngbCollapse]="!isCollapseChart">
          <div class="card">
            <div class="card-body">
              You can collapse this card by clicking Toggle
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a href="#" title="Add" (click)="invertCollapseAdd($event)"><fa-icon icon="plus"></fa-icon>Add</a>
        <div id="collapseUtilities" [ngbCollapse]="!isCollapseAdd">
          <div class="card">
            <div class="card-body">
              You can collapse this card by clicking Toggle
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <hr class="leftbar-divider">
  <div class="nav-group">
    <strong>View</strong>
    <ul class="view-nav nav-list">
      <li class="nav-item">
        <a href="#" title="Dark mode"><fa-icon icon="adjust"></fa-icon>Dark mode</a>
      </li>
      <li class="nav-item">
        <a href="#" title="Close collapse"><fa-icon icon="chevron-left"></fa-icon>Close collapse</a>
      </li>
    </ul>
  </div>
  <hr class="leftbar-divider">
</nav>
