/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
.screen-correct {
  width: calc(100% - 14rem);
  position: absolute;
  left: 14rem;
  min-height: 100vh;
}

.text-gray-800 {
  color: #5a5c69!important;
}
